  {{#each datas }}
    <div  class="example  {{#if even}} example2  {{/if}}">
        <figure>
            <p>{{title}}</p>
            <img class="img" src="{{imgUrl}}" />
        </figure>
    </div>
  {{/each}} 